.header {
    width: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    border-radius: 5px;
    position: fixed;
    font-family: var(--titulos);
    z-index: 2;
  }
  
  .nav-bar {
    max-width: 1200px;
    display: flex;
    text-transform: uppercase;
    width: 90%;
    justify-content: space-between;
    padding: 5px;
    height: 60px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .nav-bar .nombre {
    font-weight: bold;
    opacity: 90%;
    color: var( --text-3);
  }
  
  .nav-bar .menu {
    display: flex;
    line-height: 50px;
    color: var(--text-2);
  }
  
  .nav-bar .menu .redes{
    display: flex;
    color: var(--color-logo-text);
  }
  
  .nav-bar .menu .items{
    display: flex;
    padding: 0 20vh;
    color: var(--color-logo-text);
    
  }
  
  .nav-bar .item {
    list-style: none;
    padding: 10px;
  }
  
  .nav-bar .item-menu {
    text-decoration: none;
    color: var(--text-2);
  }
  
  .nav-bar .item-redes {
    color: var(--color-2);
    font-size: 2vw;
  }
  
  .menu .item-menu{
    position: relative;
    text-decoration: none;
  }
  
  .menu .item-menu::after {
    content: "";
    background-color: var( --text-3);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 2px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .menu .item-menu.select::after,
  .menu .item-menu:hover::after{
    opacity: 100%;
    transform: scale(1.1);
  }
  
  .menu .item-menu:hover {
    cursor: pointer;
    color: var( --text-3);
  }
  
  .nav-toggle {
    color: var(--text-2);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
  @media (max-width:920px) {
    .line-nav {
      display: none;
    }
  
    .header {
      height: 60px;
      min-width: 480px;
    }
  
    .nav-toggle {
      background-position-x: right;
    }
  
    .nombre {
      font-size: 15px;
      padding: 0 20px;
    }
  
    .menu {
      background-color: rgba(0, 0, 0, 0.1);
      align-items: center;
      margin: 0;
      position: fixed;
      top: 60px;
      width: 50vw;
      padding: 10px 0;
      flex-direction: column;
      height: calc(100% - 60px);
      overflow-x: auto;
  
      left: 100%;
      transition: left 0.3s ease;
      font-size: small;
      z-index: 2;
    }
  
    .menu li.item a:hover {
      opacity: 1;
      
    }
  
    .nav-bar .item-redes {
      font-size: 5vw;
    }
  
    .nav-bar .menu .items{
      flex-direction: column;
      padding: 0 2.5vh;
      font-size: 1.2em;
    }
  
    .nav-bar .menu .redes{
      margin: 0 auto;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .menu_visible {
      left: 50%;
      height: auto;
      border-radius: 10px;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }